{% extends 'TylerSommerBlogBundle::base.html.twig' %}

{% block content %}
{% for entity in entities %}
    <div class="row-fluid">
    <div class="span1 date-posted">
        <p class="month">{{ entity.datePublished.toUserTime.format('M') }}</p>
        <p class="day">{{ entity.datePublished.toUserTime.format('d') }}</p>
    </div>
    <div class="span11">
    {% if loop.first %}
<h1>{{ entity.title }}</h1>
    {% else %}
<h2>{{ entity.title }}</h2>
    {% endif %}
{{ entity.body|raw }}
<div class="spacer"></div>
<p>{% for tag in entity.tags %}<a href="{{ path('search_tag', { name: tag.name }) }}" class="label label-inverse">{{ tag }}</a> &nbsp; {% endfor %} {% for tag in entity.categories %}<a href="{{ path('search_category', { name: tag.name }) }}" class="label label-inverse">{{ tag }}</a> &nbsp; {% endfor %}</p>
<div class="post-spacer"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}
