{% extends 'TylerSommerBlogBundle::base.html.twig' %}

{% if entities|length == 1 %}
{% set title = entities[0].title %}
{% endif %}

{% block content %}
{% for entity in entities %}
    <div class="row-fluid">
    <div class="span1 date-posted">
        <p class="month">{{ entity.datePublished.toUserTime.format('M') }}</p>
        <p class="day">{{ entity.datePublished.toUserTime.format('d') }}</p>
    </div>
    <div class="span11">
    {% if loop.first %}
<h1>{{ entity.title }}</h1>
    {% else %}
<h2>{{ entity.title }}</h2>
    {% endif %}
<div class="copy-container">
{{ render_twig(entity.body, { post: entity }) }}
</div>
<div class="spacer"></div>
<p>{% for tag in entity.tags %}<a href="{{ path('search_tag', { name: tag.name }) }}" class="label tag label-inverse">{{ tag }}</a>{% endfor %}{% for tag in entity.categories %}<a href="{{ path('search_category', { name: tag.name }) }}" class="label label-inverse tag">{{ tag }}</a>{% endfor %}</p>
    {{ render(controller('TylerSommerBlogBundle:Comment:index', { postid: entity.id })) }}
<div class="post-spacer"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block additional_javascripts %}
    {% if is_granted('ROLE_COMMENT_WRITE') %}
<script type="text/javascript">
    $(function() {
        $('.add-comment').click(function(e) {
            e.preventDefault();

            var $this = $(this);
            $.ajax({
                url: $this.attr('href'),
                type: 'html',
                success: function(response) {
                    $this.closest('.comment-box').html(response);
                },
                error: function() {
                    console.log(arguments);
                }
            });
        })
    });
</script>
    {% endif %}
{% endblock %}
