{% extends 'TylerSommerBlogBundle::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% stylesheets filter='cssrewrite, ?yui_css' output="css/highlighter.css"
  'bundles/tylersommerblog/css/highlighter/shCore.css'
  'bundles/tylersommerblog/css/highlighter/shTheme.css'
%}
<link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}

{% block main_javascripts %}
{{ parent() }}
{% javascripts filter='?yui_js' output="js/highlighter.js"
  'bundles/tylersommerblog/js/highlighter/shCore.js'
  'bundles/tylersommerblog/js/highlighter/*'
%}
<script src="{{ asset_url }}" type="text/javascript"></script>
{% endjavascripts %}
{% endblock %}

{% if entities|length == 1 %}
{% set title = entities[0].title %}
{% endif %}

{% block content %}
{% for entity in entities %}
    <div class="row-fluid">
{% if entity is post %}
    <div class="span1 date-posted">
        <p class="month">{{ entity.datePublished.toUserTime.format('M') }}</p>
        <p class="day">{{ entity.datePublished.toUserTime.format('d') }}</p>
    </div>
{% endif %}
    <div class="{{ entity is post ? 'span11' : 'span12' }}">
    {% if loop.first %}
<h1>{{ entity.title }}</h1>
    {% else %}
<h2>{{ entity.title }}</h2>
    {% endif %}
<div class="copy-container">
{{ render_twig(entity.body, { post: entity }) }}
</div>
<div class="spacer"></div>
<p>{% for tag in entity.tags %}<a href="{{ path('search_tag', { name: tag.name }) }}" class="label tag label-inverse">{{ tag }}</a>{% endfor %}{% for tag in entity.categories %}<a href="{{ path('search_category', { name: tag.name }) }}" class="label label-inverse tag">{{ tag }}</a>{% endfor %}</p>
{% if entity.enableComments %}
    {{ render(controller('TylerSommerBlogBundle:Comment:index', { postid: entity.id })) }}
{% endif %}
<div class="post-spacer"></div>
        </div>
    </div>
{% endfor %}
{% endblock %}

{% block additional_javascripts %}
    {% if is_granted('ROLE_COMMENT_WRITE') %}
<script type="text/javascript">
$(function () {
  $('.add-comment').click(function (e) {
    e.preventDefault();

    var $this = $(this);
    $.ajax({
      url : $this.attr('href'),
      type : 'html',
      success : function (response) {
        $this.closest('.comment-box').html(response);
      }
    });
  });
});
</script>
    {% endif %}
<script type="text/javascript">
$(function() {
  SyntaxHighlighter.all();
});
</script>
{% endblock %}
