<h5>Tags</h5>
<ul class="tags">
{% for tag in tags %}
    <li><a href="{{ path('search_tag', { name: tag.name }) }}">{{ tag }}</a></li>
{% endfor %}
</ul>

<div class="clear spacer"></div>
<h5>Categories</h5>
<ul class="tags">
{% for category in categories %}
    <li><a href="{{ path('search_category', { name: category.name }) }}">{{ category }}</a></li>
{% endfor %}
</ul>

<div class="clear spacer"></div>
<h5>Search</h5>
<div>
    <form method="post" action="{{ path('search') }}" class="form-inline">
        {{ form_widget(form.search, { attr: { class: 'input-medium' } }) }} <button class="btn btn-primary">GO</button>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
    </form>
</div>

<div class="clear spacer"></div>
