{% extends 'TylerSommerBlogBundle:Admin:base.html.twig' %}

{% set title = 'Edit Menu' %}

{% block content %}
<div id="menu-form" class="well" data-prototype="{% filter escape %}{{ include('TylerSommerBlogBundle:Admin/Menu:_item_row.html.twig', { form: form.definition.vars.prototype }) }}{% endfilter %}">
    <form action="{{ path('manage_menu_update', { id: entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.type) }}
        <div id="definitions">
        <h5>Definition</h5>
        {% for form in form.definition %}
            {% include 'TylerSommerBlogBundle:Admin/Menu:_item_row.html.twig' with { form: form } %}
        {% endfor %}
        </div>
        <div class="spacer"></div>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
        <div class="pull-right span2">
            <a href="javascript:;" class="btn add-item"><span class="icon-plus"></span> Add Item</a>
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>
</div>
<div class="hidden" id="empty_row">

</div>
{% endblock %}

{% block additional_javascripts %}
<script type="text/javascript">
    (function($) {
        var _$menuForm = $(document.getElementById('menu-form')),
            _$definitions = $(document.getElementById('definitions')),
            _rowPrototype = _$menuForm.data('prototype'),
            _currentIndex = 0;

        var _bindRowHandlers = function(row) {
            console.log(row);
            var $row = $(row);
            $row.find('.remove').click(function() {
                $row.slideUp('fast', function() { $row.remove(); });
            });

            $row.find('.move-up').click(function() {

            });

            $row.find('.move-down').click(function() {

            });
        };

        $('.add-item', _$menuForm).click(function() {
            _addRow();
        });

        var _addRow = function() {
            var html = _rowPrototype.replace(/__name__/g, _currentIndex),
                $row = $(html).hide().appendTo(_$definitions).slideDown('fast');

            _bindRowHandlers($row);
        };

        $('.item-row', _$definitions).each(function(index, row) {
            _currentIndex++;

            _bindRowHandlers(row);
        });

        return {

        };
    })(jQuery);
</script>
{% endblock %}
