{% extends 'TylerSommerBlogBundle:Admin:base.html.twig' %}

{% set title = entity.name ~ ' - Menu Summary' %}

{% block content %}
<table class="table summary">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.name }}</td>
        </tr>
        <tr>
            <th>Example</th>
            <td>
                <div class="nav">
                {{ render_menu(entity.name) }}
                </div>
            </td>
        </tr>
        <tr>
            <th>Date Modified</th>
            <td>{{ entity.dateModified|default('Never') }}</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>{{ entity.dateCreated }}</td>
        </tr>
    </tbody>
</table>

<p class="form-buttons">
  <a href="{{ path('manage_menu_edit', { 'id': entity.id }) }}">
    <button class="btn">Edit Menu</button>
  </a>
</p>
{% endblock %}
