<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tyler Sommer dot com{% endblock %}</title>
        <link href="//fonts.googleapis.com/css?family=Open+Sans:400,300|Lobster+Two:400,700" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?yui_css'
                'bundles/tylersommerblog/css/bootstrap.css'
                'bundles/tylersommerblog/css/bootstrap-responsive.css'
                'bundles/tylersommerblog/css/select2.css'
                'bundles/tylersommerblog/css/application.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('home') }}">Tyler Sommer dot com</a>
                    <ul class="pull-right nav">
                        <li{% if is_current_route('home') %} class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                        <li{% if is_current_route('about') %} class="active"{% endif %}><a href="{{ path('about') }}">About</a></li>
                        <li{% if is_current_route('contact') %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li{% if is_current_route('manage_posts') %} class="active"{% endif %}><a href="{{ path('manage_posts') }}"><i class="icon-cog"></i> Manage</a></li>
                        {% elseif not is_granted('IS_AUTHENTICATED_FULLY') %}
                        <li{% if is_current_route('login') %} class="active"{% endif %}><a href="{{ path('login') }}"><i class="icon-user"></i> Login</a></li>
                        {% else %}
                        <li><a href="{{ path('logout') }}"><i class="icon-signout"></i> Logout</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div id="main" class="container container-fluid">
            {% block container %}
            <div class="row-fluid">
            <div class="span9 content-box">
                {% if app.session.flashBag.has('success') %}
                    <div class="alert alert-success">
                        {{ app.session.flashBag.get('success') }}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('alert') %}
                    <div class="alert">
                        {{ app.session.flashBag.get('alert') }}
                    </div>
                {% endif %}
                {% if app.session.flashBag.has('error') %}
                    <div class="alert alert-error">
                        {{ app.session.flashBag.get('error') }}
                    </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="span3">
                {% block right_side %}
                <div class="right-side social">
                    <h4>Social</h4>
                    <a href="#" class="label label-primary"><span class="icon-rss"></span></a>
                    <a href="#" class="label label-primary"><span class="icon-github"></span></a>
                    <a href="#" class="label label-primary"><span class="icon-twitter"></span></a>
                </div>
                <div class="right-side archive">
                    <h4>Archive</h4>
                    <dl>
                        <dt>November 2012</dt>
                        <dd><a href="#">Whoa dude, another one?!</a></dd>
                        <dd><a href="#">A title, this is what that is</a></dd>
                        <dt>October 2012</dt>
                        <dd><a href="#">A title, this is what that is</a></dd>
                        <dd><a href="#">On Grammar and The Efficacy of the Nazi Regime</a></dd>
                        <dd><a href="#">What is this I dont even</a></dd>
                        <dd><a href="#">Damnit all to hell</a></dd>
                        <dd><a href="#">The Final Postdown</a></dd>
                    </dl>
                </div>
                {% endblock %}
            </div>
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        {% block main_javascripts %}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
            {% javascripts filter='?yui_js'
                'bundles/tylersommerblog/js/*.js'
            %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        {% block additional_javascripts %}{% endblock %}
    </body>
</html>
