<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tyler Sommer dot com{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?yui_css'
                'bundles/orkestraapplication/css/bootstrap-responsive.css'
                'bundles/tylersommerblog/css/united.css'
                'bundles/tylersommerblog/css/site.css'
                'bundles/tylersommerblog/css/zocial.css'
                'bundles/tylersommerblog/css/select2.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block head_javascripts %}
            {% javascripts filter='?yui_js'
                'bundles/orkestraapplication/js/jquery.js'
                'bundles/orkestraapplication/js/bootstrap.js'
                'bundles/tylersommerblog/js/*.js'
            %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <script src="//use.edgefonts.net/lobster.js"></script>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('home') }}">Tyler Sommer dot com</a>
                    <ul class="pull-right nav">
                        <li{% if is_current_route('home') %} class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                        <li{% if is_current_route('about') %} class="active"{% endif %}><a href="{{ path('about') }}">About</a></li>
                        <li{% if is_current_route('contact') %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li{% if is_current_route('manage_posts') %} class="active"{% endif %}><a href="{{ path('manage_posts') }}">Manage</a></li>
                        {% else %}
                        <li{% if is_current_route('login') %} class="active"{% endif %}><a href="{{ path('login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="container container-fluid">
            {% block container %}
            <div class="span left-side">
                <ul class="sidebar">
                    <li class="active"><a href="#">This is a post</a></li>
                    <li><a href="#">Whoa dude, another one?!</a></li>
                    <li><a href="#">A title, this is what that is</a></li>
                    <li><a href="#">On Grammar and The Efficacy of the Nazi Regime</a></li>
                    <li><a href="#">What is this I dont even</a></li>
                    <li><a href="#">Damnit all to hell</a></li>
                    <li><a href="#">The Final Postdown</a></li>
                </ul>
            </div>
            <div class="span8 content-box">
                {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success">
                        {{ app.session.flash('success') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('alert') %}
                    <div class="alert">
                        {{ app.session.flash('alert') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                    <div class="alert alert-error">
                        {{ app.session.flash('error') }}
                    </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        {% block additional_javascripts %}{% endblock %}
    </body>
</html>
