<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Tyler Sommer dot com{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite, ?yui_css'
                'bundles/orkestraapplication/css/bootstrap-responsive.css'
                'bundles/tylersommerblog/css/united.css'
                'bundles/tylersommerblog/css/site.css'
                'bundles/tylersommerblog/css/zocial.css'
                'bundles/tylersommerblog/css/select2.css'
            %}
        <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        {% block head_javascripts %}
            {% javascripts filter='?yui_js'
                'bundles/orkestraapplication/js/jquery.js'
                'bundles/orkestraapplication/js/bootstrap.js'
                'bundles/tylersommerblog/js/*.js'
            %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    <a class="brand" href="{{ path('home') }}">Tyler Sommer dot com</a>
                    <ul class="nav">
                        <li{% if is_current_route('home') %} class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                        <li{% if is_current_route('about') %} class="active"{% endif %}><a href="{{ path('about') }}">About</a></li>
                        <li{% if is_current_route('contact') %} class="active"{% endif %}><a href="{{ path('contact') }}">Contact</a></li>
                        {% if is_granted('ROLE_ADMIN') %}
                        <li{% if is_current_route('manage_posts') %} class="active"{% endif %}><a href="{{ path('manage_posts') }}">Posts</a></li>
                        {% endif %}
                    </ul>
                    <div class="pull-right">
                        <ul class="nav sign-in">
                            {% if not app.user %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> Sign in <b class="caret"></b></a>
                                <div class="login-box dropdown-menu pull-right">
                                    <p><a href="{{ path('hwi_oauth_service_redirect', { service: 'twitter' }) }}" class="zocial twitter">Sign in with Twitter</a></p>
                                    <hr/>
                                    <p><a href="{{ path('hwi_oauth_service_redirect', { service: 'github' }) }}" class="zocial github">Sign in with GitHub</a></p>
                                    <hr/>
                                    <p><a href="{{ path('login') }}" class="zocial guest">Sign in with Password</a></p>
                                </div>
                            </li>
                            {% else %}
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="icon-user icon-white"></i> {{ app.user }} <b class="caret"></b></a>
                                <ul class="dropdown-menu pull-right">
                                    {% if is_granted('ROLE_ADMIN') %}<li><a href="{{ path('orkestra_profile') }}">My Profile</a></li>{% endif %}
                                    <li><a href="{{ path('logout') }}">Logout</a></li>
                                </ul>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container container-fluid" style="padding-top: 50px">
            {% block container %}
            <div class="span8 content-box">
                {% if app.session.hasFlash('success') %}
                    <div class="alert alert-success">
                        {{ app.session.flash('success') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('alert') %}
                    <div class="alert">
                        {{ app.session.flash('alert') }}
                    </div>
                {% endif %}
                {% if app.session.hasFlash('error') %}
                    <div class="alert alert-error">
                        {{ app.session.flash('error') }}
                    </div>
                {% endif %}
                {% block content %}
                {% endblock %}
            </div>
            <div class="spacer"></div>
            <div class="span3 well pull-right">
                {% block right_side %}
                {% endblock %}
            </div>
            {% endblock %}
        </div>
        {% endblock %}
        {% block additional_javascripts %}{% endblock %}
    </body>
</html>
