{% extends 'TylerSommerBlogBundle:Admin/Page:new.html.twig' %}

{% set title = 'New Post' %}
{% block content %}
<div class="well">
    <form action="{{ path('manage_post_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.slug) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.author) }}
        {{ form_row(form.body, { attr: { class: 'input-xxlarge', style: 'height: 100px' } }) }}
        <div class="checkbox inline">
            {{ form_widget(form.active) }}
            {{ form_label(form.active) }}
        </div>
        <div class="spacer"></div>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Create Post</button>
        </div>
    </form>
</div>
{% endblock %}
