{% extends '::base.html.twig' %}

{% block container %}
<div class="row-fluid">
    <div class="span9 offset2">
        <h3>{{ block('title') }}</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        {% block sidebar %}
        <div class="well well-small">
            <ul class="nav nav-list">
                <li class="nav-header">Users</li>
                <li{% if is_currently_on('User') %} class="active" {% endif %}><a href="{{ path('orkestra_users') }}">Users</a></li>
                <li{% if is_currently_on('Group') %} class="active" {% endif %}><a href="{{ path('orkestra_groups') }}">Groups</a></li>
                <li class="nav-header">Application</li>
                <li{% if is_currently_on('Admin\\Post') %} class="active" {% endif %}><a href="{{ path('manage_posts') }}">Posts</a></li>
                <li{% if is_currently_on('Admin\\Page') %} class="active" {% endif %}><a href="{{ path('manage_pages') }}">Pages</a></li>
                <li{% if is_currently_on('Admin\\Author') %} class="active" {% endif %}><a href="{{ path('manage_authors') }}">Authors</a></li>
                <li class="nav-header">My Account</li>
                <li{% if is_currently_on('Profile') %} class="active" {% endif %}><a href="{{ path('orkestra_profile') }}">Profile</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            </ul>
        </div>
        {% endblock %}
    </div>
    <div class="span10">
        {% if app.session.hasFlash('success') %}
            <div class="alert alert-success">
                {{ app.session.flash('success') }}
            </div>
        {% endif %}
        {% if app.session.hasFlash('alert') %}
            <div class="alert">
                {{ app.session.flash('alert') }}
            </div>
        {% endif %}
        {% if app.session.hasFlash('error') %}
            <div class="alert alert-error">
                {{ app.session.flash('error') }}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
