{% extends '::base.html.twig' %}

{% block container %}
<div class="row-fluid">
    <div class="span9 offset2">
        <h3>{{ title }}</h3>
    </div>
</div>
<div class="row-fluid">
    <div class="span2">
        {% block sidebar %}
        <div class="well well-small">
            <ul class="nav nav-list">
                <li class="nav-header">Users</li>
                <li{% if is_currently_on('User') %} class="active" {% endif %}><a href="{{ path('orkestra_users') }}">Users</a></li>
                <li{% if is_currently_on('Group') %} class="active" {% endif %}><a href="{{ path('orkestra_groups') }}">Groups</a></li>
                <li class="nav-header">Application</li>
                <li{% if is_currently_on('Admin\\Post') %} class="active" {% endif %}><a href="{{ path('manage_posts') }}">Posts</a></li>
                <li{% if is_currently_on('Admin\\Page') %} class="active" {% endif %}><a href="{{ path('manage_pages') }}">Pages</a></li>
                <li{% if is_currently_on('Admin\\Author') %} class="active" {% endif %}><a href="{{ path('manage_authors') }}">Authors</a></li>
                <li{% if is_currently_on('Admin\\Tag') %} class="active" {% endif %}><a href="{{ path('manage_tags') }}">Tags</a></li>
                <li{% if is_currently_on('Admin\\Category') %} class="active" {% endif %}><a href="{{ path('manage_categories') }}">Categories</a></li>
                <li{% if is_currently_on('Admin\\Menu') %} class="active" {% endif %}><a href="{{ path('manage_menus') }}">Menus</a></li>
                <li class="nav-header">My Account</li>
                <li{% if is_currently_on('Admin\\Profile') %} class="active" {% endif %}><a href="{{ path('profile_edit') }}">Profile</a></li>
                <li><a href="{{ path('logout') }}">Logout</a></li>
            </ul>
        </div>
        {% endblock %}
    </div>
    <div class="span10">
        {% if app.session.flashBag.has('success') %}
            <div class="alert alert-success">
                {{ app.session.flashBag.get('success')[0] }}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('alert') %}
            <div class="alert">
                {{ app.session.flashBag.get('alert')[0] }}
            </div>
        {% endif %}
        {% if app.session.flashBag.has('error') %}
            <div class="alert alert-error">
                {{ app.session.flashBag.get('error')[0] }}
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </div>
</div>
{% endblock %}
