<h4>Comments</h4>
{% if entities|length > 0 %}
    <div class="comment-box">
        {% if is_granted('ROLE_COMMENT_WRITE') %}
            <a class="add-comment" href="{{ path('post_comment_new', { postid: post.id }) }}">Share your thoughts</a>.
        {% else %}
            <a href="{{ path('login') }}">Share your thoughts</a>.
        {% endif %}
    </div>
    {% for entity in entities %}
    <div class="comment">
        <h5>{{ entity.author }}</h5>
        <p class="comment-body">{{ entity.body }}</p>
    </div>
    {% endfor %}
{% else %}
    <div class="comment-box">
    No comments yet!
    {% if is_granted('ROLE_COMMENT_WRITE') %}
        <a class="add-comment" href="{{ path('post_comment_new', { postid: post.id }) }}">Say something</a>.
    {% else %}
        <a href="{{ path('login') }}">Say something</a>.
    {% endif %}
    </div>
{% endif %}
