{% extends 'TylerSommerBlogBundle:Admin/Page:new.html.twig' %}

{% set title = 'Edit Page' %}

{% block content %}
    <div class="well">
    <form action="{{ path('manage_page_update', { id: entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.slug, { attr: { 'data-uri': path('manage_post_is_slug_unique') } }) }}
        {{ form_row(form.tags) }}
        {{ form_row(form.categories) }}
        {{ form_row(form.author) }}
        {{ form_row(form.body, { attr: { class: 'input-xxlarge', style: 'height: 100px' } }) }}
        <div class="row-fluid">
            <div class="span2 post-option">
                <div class="checkbox inline">
                    {{ form_widget(form.enableComments) }}
                    {{ form_label(form.enableComments, null, { label: 'Enable Comments' }) }}
                </div>
            </div>
            <div class="span2 post-option">
                <div class="checkbox inline">
                    {{ form_widget(form.active, { attr: { class: 'js-publish' } }) }}
                    {{ form_label(form.active, null, { label: 'Published' }) }}
                </div>
            </div>
            <div class="span2 post-option js-date-published" style="display: none">
                <div class="inline">
                    {{ form_label(form.datePublished) }}
                    {{ form_widget(form.datePublished, { attr: { class: 'input-small' } }) }}
                </div>
            </div>
        </div>
        <div class="spacer"></div>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Save Changes</button> &nbsp;
            <a href="{{ path('manage_page_preview', { id: entity.id }) }}" target="_blank">Preview</a>
        </div>
    </form>
</div>
{% endblock %}
