{% extends 'TylerSommerBlogBundle:Admin:base.html.twig' %}


{% block title %}Page - {{ entity.title }}{% endblock %}

{% block content %}
<table class="table summary">
    <tbody>
        <tr>
            <th>ID</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Title</th>
            <td>{{ entity.title }}</td>
        </tr>
        <tr>
            <th>Slug</th>
            <td>{{ entity.slug }}</td>
        </tr>
        <tr>
            <th>Published</th>
            <td>{{ entity.active ? 'Yes' : 'No' }}</td>
        </tr>
        <tr>
            <th>Date Modified</th>
            <td>{{ entity.dateModified|default('Never') }}</td>
        </tr>
        <tr>
            <th>Date Created</th>
            <td>{{ entity.dateCreated }}</td>
        </tr>
    </tbody>
</table>

<p class="form-buttons">
  <a href="{{ path('manage_page_edit', { 'id': entity.id }) }}">
    <button class="btn">Edit Page</button>
  </a>
</p>
{% endblock %}
