{% extends 'TylerSommerBlogBundle:Admin:base.html.twig' %}

{% set title = 'Edit Author' %}
{% block content %}
    <div class="well">
    <form action="{{ path('manage_author_update', { id: entity.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_errors(form) }}
        {{ form_row(form.user) }}
        {{ form_row(form.active) }}
        <div class="spacer"></div>
        <div class="hidden">
            {{ form_rest(form) }}
        </div>
        <div>
            <button class="btn btn-primary" type="submit">Save Changes</button>
        </div>
    </form>
</div>
{% endblock %}
