{% extends 'TylerSommerBlogBundle:Admin:base.html.twig' %}

{% set title = 'Authors' %}

{% block content %}
<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th></th>
            <th>Last Modified</th>
            <th>Date Created</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('manage_author_show', { 'id': entity.id }) }}">{{ entity }}</a></td>
            <td>{{ entity.user.email|default('n/a') }}</td>
            <td>{{ entity.active ? 'Enabled' : 'Disabled' }}</td>
            <td>{% if entity.dateModified %}{{ entity.dateModified }}{% endif %}</td>
            <td>{% if entity.dateCreated %}{{ entity.dateCreated }}{% endif %}</td>
            <td>
                <a class="btn btn-mini" href="{{ path('manage_author_edit', { 'id': entity.id }) }}">EDIT</a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
